In [1]:
import numpy as np

car_brands = ["Toyota", "Honda", "Ford", "BMW", "Tesla"]
car_models = {
    "Toyota": ["Camry", "Corolla", "RAV4"],
    "Honda": ["Civic", "Accord", "CR-V"],
    "Ford": ["Fiesta", "Focus", "Explorer"],
    "BMW": ["X3", "X5", "3 Series"],
    "Tesla": ["Model 3", "Model S", "Model X"]
}
car_prices = {
    "Camry": 25000, "Corolla": 20000, "RAV4": 30000,
    "Civic": 22000, "Accord": 26000, "CR-V": 28000,
    "Fiesta": 18000, "Focus": 20000, "Explorer": 35000,
    "X3": 42000, "X5": 55000, "3 Series": 48000,
    "Model 3": 40000, "Model S": 80000, "Model X": 90000
}


num_records = 100  
customer_ids = np.arange(1001, 1001 + num_records)  

brands = np.random.choice(car_brands, size=num_records)
models = [np.random.choice(car_models[brand]) for brand in brands]
units_sold = np.random.randint(1, 6, size=num_records)  
amounts = [units_sold[i] * car_prices[models[i]] for i in range(num_records)]

dataset = np.empty(num_records,dtype=[('Customerid', np.int32),
                                       ('Carname', np.str_, 20),
                                       ('Carmodel', np.str_, 20),
                                       ('Units', np.int32),
                                       ('Amount', np.int32)])

dataset['Customerid'] = customer_ids
dataset['Carname'] = brands
dataset['Carmodel'] = models
dataset['Units'] = units_sold
dataset['Amount'] = amounts

print(dataset)
print(dataset.ndim)

[(1001, 'Ford', 'Focus', 2,  40000) (1002, 'Tesla', 'Model X', 4, 360000)
 (1003, 'BMW', '3 Series', 3, 144000) (1004, 'Ford', 'Focus', 1,  20000)
 (1005, 'Tesla', 'Model S', 1,  80000)
 (1006, 'Honda', 'Accord', 1,  26000) (1007, 'Toyota', 'RAV4', 2,  60000)
 (1008, 'Tesla', 'Model S', 3, 240000)
 (1009, 'Toyota', 'Camry', 4, 100000)
 (1010, 'Toyota', 'Corolla', 4,  80000)
 (1011, 'Toyota', 'RAV4', 4, 120000) (1012, 'Ford', 'Focus', 3,  60000)
 (1013, 'Ford', 'Explorer', 1,  35000) (1014, 'BMW', 'X3', 1,  42000)
 (1015, 'Tesla', 'Model S', 1,  80000) (1016, 'BMW', 'X5', 3, 165000)
 (1017, 'BMW', 'X3', 1,  42000) (1018, 'Honda', 'CR-V', 1,  28000)
 (1019, 'Toyota', 'Corolla', 5, 100000)
 (1020, 'Toyota', 'Camry', 4, 100000) (1021, 'BMW', 'X5', 2, 110000)
 (1022, 'Tesla', 'Model 3', 1,  40000)
 (1023, 'Honda', 'Accord', 5, 130000) (1024, 'Ford', 'Fiesta', 5,  90000)
 (1025, 'Honda', 'CR-V', 2,  56000) (1026, 'Tesla', 'Model 3', 1,  40000)
 (1027, 'Tesla', 'Model S', 5, 400000) (1028, 'Honda', 'Civic', 1,  22000)
 (1029, 'Ford', 'Focus', 2,  40000) (1030, 'Ford', 'Focus', 4,  80000)
 (1031, 'Toyota', 'Corolla', 1,  20000)
 (1032, 'Toyota', 'Corolla', 5, 100000)
 (1033, 'Toyota', 'RAV4', 2,  60000) (1034, 'Toyota', 'Camry', 5, 125000)
 (1035, 'Tesla', 'Model 3', 5, 200000) (1036, 'Ford', 'Fiesta', 1,  18000)
 (1037, 'Ford', 'Fiesta', 4,  72000) (1038, 'BMW', 'X5', 4, 220000)
 (1039, 'Toyota', 'Camry', 4, 100000) (1040, 'Honda', 'Accord', 2,  52000)
 (1041, 'Ford', 'Fiesta', 5,  90000) (1042, 'Tesla', 'Model 3', 5, 200000)
 (1043, 'Ford', 'Fiesta', 4,  72000) (1044, 'Tesla', 'Model X', 4, 360000)
 (1045, 'Tesla', 'Model 3', 3, 120000) (1046, 'Ford', 'Focus', 2,  40000)
 (1047, 'Honda', 'Civic', 1,  22000) (1048, 'Honda', 'Civic', 1,  22000)
 (1049, 'BMW', '3 Series', 3, 144000)
 (1050, 'Ford', 'Explorer', 2,  70000)
 (1051, 'Tesla', 'Model X', 3, 270000)
 (1052, 'Tesla', 'Model S', 2, 160000)
 (1053, 'Tesla', 'Model X', 4, 360000)
 (1054, 'BMW', '3 Series', 4, 192000) (1055, 'Ford', 'Focus', 4,  80000)
 (1056, 'Toyota', 'RAV4', 1,  30000) (1057, 'BMW', '3 Series', 2,  96000)
 (1058, 'Toyota', 'Camry', 2,  50000) (1059, 'BMW', '3 Series', 5, 240000)
 (1060, 'Toyota', 'RAV4', 4, 120000) (1061, 'Tesla', 'Model X', 1,  90000)
 (1062, 'Honda', 'Accord', 4, 104000) (1063, 'Ford', 'Focus', 3,  60000)
 (1064, 'Tesla', 'Model S', 3, 240000)
 (1065, 'Tesla', 'Model X', 2, 180000)
 (1066, 'Honda', 'Accord', 4, 104000) (1067, 'Honda', 'Civic', 4,  88000)
 (1068, 'Ford', 'Focus', 4,  80000) (1069, 'Tesla', 'Model 3', 4, 160000)
 (1070, 'Toyota', 'Camry', 1,  25000) (1071, 'BMW', 'X5', 4, 220000)
 (1072, 'Toyota', 'RAV4', 5, 150000) (1073, 'Ford', 'Explorer', 2,  70000)
 (1074, 'BMW', '3 Series', 2,  96000) (1075, 'Honda', 'Civic', 1,  22000)
 (1076, 'Ford', 'Fiesta', 3,  54000) (1077, 'Ford', 'Focus', 4,  80000)
 (1078, 'Toyota', 'Camry', 1,  25000)
 (1079, 'Tesla', 'Model 3', 2,  80000) (1080, 'BMW', 'X5', 1,  55000)
 (1081, 'BMW', 'X5', 4, 220000) (1082, 'Honda', 'Civic', 3,  66000)
 (1083, 'BMW', '3 Series', 4, 192000) (1084, 'Ford', 'Focus', 3,  60000)
 (1085, 'Ford', 'Focus', 1,  20000) (1086, 'Ford', 'Explorer', 1,  35000)
 (1087, 'Ford', 'Fiesta', 1,  18000) (1088, 'Tesla', 'Model S', 2, 160000)
 (1089, 'Ford', 'Explorer', 1,  35000) (1090, 'BMW', 'X3', 5, 210000)
 (1091, 'Ford', 'Focus', 2,  40000) (1092, 'Honda', 'CR-V', 2,  56000)
 (1093, 'Honda', 'Accord', 2,  52000)
 (1094, 'Tesla', 'Model 3', 3, 120000) (1095, 'Honda', 'Civic', 1,  22000)
 (1096, 'Toyota', 'RAV4', 5, 150000) (1097, 'Toyota', 'Camry', 2,  50000)
 (1098, 'Tesla', 'Model 3', 5, 200000)
 (1099, 'Tesla', 'Model S', 1,  80000) (1100, 'Toyota', 'RAV4', 4, 120000)]
1

Calculate the total amount

In [2]:
total=dataset["Amount"].sum() #or np.sum(dataset['Amount']
total

np.int64(10524000)

 How many unique car brands are present in the dataset?

In [3]:
un=np.unique(dataset['Carname'])
print(un)
print(len(un))

['BMW' 'Ford' 'Honda' 'Tesla' 'Toyota']
5

What is the total number of cars sold?

In [4]:
sold=np.sum(dataset['Units'])
print(sold)

278

How many units of Tesla cars were sold in total?

In [5]:
sum=0
for i,j in enumerate(dataset['Carname']):
    if j=='Tesla':
        sum=sum+dataset['Units'][i]
print(sum)

65

                                                        or

In [6]:
sum1=0
for i,j in enumerate(dataset):
    if j[1]=='Tesla':
        sum1=sum1+j[3]
print(sum1)

65

Calculate the total amount (sum of 'Amount' column) for all rows where the 'CarBrand' is 'BMW'

In [13]:
sum=0
for i,j in enumerate(dataset['Carname']):
    if j=='BMW':
        sum=sum+dataset['Amount'][i]
print(sum)

2388000

Find the average Units sold for all rows where the 'Carname' is 'Toyota'.

In [18]:
units=0
count=0
for i in dataset:
    if i[1]=='Toyota':
        units=units+i[3]
        count=count+1
average=units/count
print(average)

3.25

Find the maximum Amount for all rows where the 'Carname' is 'Tesla'

In [20]:
max1=0
for  i in dataset:
    if i[1]=='Tesla':
        if max1>i[4]:
            continue
        else:
            max1=i[4]
print(max1)

400000