In [1]:
from pyspark.sql import SparkSession

Creating RDD

In [2]:

spark=SparkSession.builder.getOrCreate()

rdd=spark.sparkContext.parallelize([('Mysore',1),("Bengaluru",2)])
rdd.collect()

[('Mysore', 1), ('Bengaluru', 2)]

In [3]:
rdd.count()

2


Dataframe from RDD

In [4]:

df=spark.createDataFrame(rdd,schema=['City','Rank'])
df.show()

+---------+----+
|     City|Rank|
+---------+----+
|   Mysore|   1|
|Bengaluru|   2|
+---------+----+

In [5]:
df.show(1)

+------+----+
|  City|Rank|
+------+----+
|Mysore|   1|
+------+----+
only showing top 1 row

In [6]:
df.printSchema()

root
 |-- City: string (nullable = true)
 |-- Rank: long (nullable = true)

DataFrame

In [7]:
from datetime import date,datetime

In [8]:
df=spark.createDataFrame([("Chaitresh",24,datetime(2024,12,14,10)),("Shivaprasad",23,datetime(2024,12,14,10))],schema=['NAME','AGE',"DATE"])

df.show()
df.printSchema()

+-----------+---+-------------------+
|       NAME|AGE|               DATE|
+-----------+---+-------------------+
|  Chaitresh| 24|2024-12-14 10:00:00|
|Shivaprasad| 23|2024-12-14 10:00:00|
+-----------+---+-------------------+

root
 |-- NAME: string (nullable = true)
 |-- AGE: long (nullable = true)
 |-- DATE: timestamp (nullable = true)

Read a csv file

In [9]:
df=spark.read.csv("BigMart Sales.csv",inferSchema=True,header=True)
df.show(5)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

In [10]:
df.printSchema()

root
 |-- Item_Identifier: string (nullable = true)
 |-- Item_Weight: double (nullable = true)
 |-- Item_Fat_Content: string (nullable = true)
 |-- Item_Visibility: double (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Item_MRP: double (nullable = true)
 |-- Outlet_Identifier: string (nullable = true)
 |-- Outlet_Establishment_Year: integer (nullable = true)
 |-- Outlet_Size: string (nullable = true)
 |-- Outlet_Location_Type: string (nullable = true)
 |-- Outlet_Type: string (nullable = true)
 |-- Item_Outlet_Sales: double (nullable = true)

In [11]:
df.take(4)

[Row(Item_Identifier='FDA15', Item_Weight=9.3, Item_Fat_Content='Low Fat', Item_Visibility=0.016047301, Item_Type='Dairy', Item_MRP=249.8092, Outlet_Identifier='OUT049', Outlet_Establishment_Year=1999, Outlet_Size='Medium', Outlet_Location_Type='Tier 1', Outlet_Type='Supermarket Type1', Item_Outlet_Sales=3735.138),
 Row(Item_Identifier='DRC01', Item_Weight=5.92, Item_Fat_Content='Regular', Item_Visibility=0.019278216, Item_Type='Soft Drinks', Item_MRP=48.2692, Outlet_Identifier='OUT018', Outlet_Establishment_Year=2009, Outlet_Size='Medium', Outlet_Location_Type='Tier 3', Outlet_Type='Supermarket Type2', Item_Outlet_Sales=443.4228),
 Row(Item_Identifier='FDN15', Item_Weight=17.5, Item_Fat_Content='Low Fat', Item_Visibility=0.016760075, Item_Type='Meat', Item_MRP=141.618, Outlet_Identifier='OUT049', Outlet_Establishment_Year=1999, Outlet_Size='Medium', Outlet_Location_Type='Tier 1', Outlet_Type='Supermarket Type1', Item_Outlet_Sales=2097.27),
 Row(Item_Identifier='FDX07', Item_Weight=19.2, Item_Fat_Content='Regular', Item_Visibility=0.0, Item_Type='Fruits and Vegetables', Item_MRP=182.095, Outlet_Identifier='OUT010', Outlet_Establishment_Year=1998, Outlet_Size=None, Outlet_Location_Type='Tier 3', Outlet_Type='Grocery Store', Item_Outlet_Sales=732.38)]

In [12]:
df.count()

8523

In [13]:
df.show(2)

+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|  Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|      Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 2 rows

In [14]:
df.select("Outlet_Size").show(3)

+-----------+
|Outlet_Size|
+-----------+
|     Medium|
|     Medium|
|     Medium|
+-----------+
only showing top 3 rows

In [15]:
df.select('Outlet_Size','Outlet_Location_Type').show(3)

+-----------+--------------------+
|Outlet_Size|Outlet_Location_Type|
+-----------+--------------------+
|     Medium|              Tier 1|
|     Medium|              Tier 3|
|     Medium|              Tier 1|
+-----------+--------------------+
only showing top 3 rows

In [16]:
df.filter(df["Item_Outlet_Sales"]>100).show(5)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

In [17]:
df.select('Item_Outlet_Sales').filter(df['Item_Outlet_Sales']>50).show(5)

+-----------------+
|Item_Outlet_Sales|
+-----------------+
|         3735.138|
|         443.4228|
|          2097.27|
|           732.38|
|         994.7052|
+-----------------+
only showing top 5 rows

In [18]:
df.filter("Item_Identifier like 'F%'").show(5)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          FDP36|     10.395|         Regular|            0.0|        Baking Goods| 51.4008|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         556.6088|
|          FDO10|      13.65|         Regular|    0.012741089|         Snack Foods| 57.6588|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         343.5528|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

In [19]:
df.filter(df["Item_Outlet_Sales"]=='994.7052').show(5)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
|          FDV51|      16.35|         Low Fat|    0.032511818|                Meat|165.0842|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
|          FDE09|      8.775|         Low Fat|    0.021647195|Fruits and Vegeta...|109.5228|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|         994.7052|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+

In [20]:
df.select('Item_Outlet_Sales','Item_MRP').sort("Item_MRP").show(5)

+-----------------+--------+
|Item_Outlet_Sales|Item_MRP|
+-----------------+--------+
|           898.83|   31.29|
|           466.06|   31.49|
|           366.19|   31.89|
|         984.7182| 31.9558|
|         373.5138| 31.9558|
+-----------------+--------+
only showing top 5 rows

In [21]:
df.sort("Item_MRP").show(5)

+---------------+-----------+----------------+---------------+------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|   Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          DRK12|       NULL|         Low Fat|    0.041683481| Soft Drinks|   31.29|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|           898.83|
|          DRK12|        9.5|         Low Fat|    0.041851461| Soft Drinks|   31.49|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|           466.06|
|          DRK12|        9.5|         Low Fat|    0.042056944| Soft Drinks|   31.89|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|           366.19|
|          FDG40|       NULL|         Low Fat|    0.039631495|Frozen Foods| 31.9558|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|         984.7182|
|          FDX59|     10.195|         Low Fat|    0.051618281|      Breads| 31.9558|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         373.5138|
+---------------+-----------+----------------+---------------+------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

In [22]:
df.show(5)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

How to create Temprorary view

In [23]:
df.createOrReplaceTempView("sales_view")
result=spark.sql("SELECT * from sales_view WHERE Item_Type='Dairy'")
result.show(5)

+---------------+-----------+----------------+---------------+---------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+---------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|    Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          FDA03|       18.5|         Regular|    0.045463773|    Dairy|144.1102|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2187.153|
|          FDU02|      13.35|         Low Fat|     0.10249212|    Dairy|230.5352|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        2748.4224|
|          FDE51|      5.925|         Regular|    0.161466534|    Dairy| 45.5086|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|         178.4344|
|          FDV38|      19.25|         Low Fat|    0.170348551|    Dairy| 55.7956|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|         163.7868|
+---------------+-----------+----------------+---------------+---------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

How to create Global temp View

In [24]:

df.createGlobalTempView("sales_view3")
result1=spark.sql("SELECT * from global_temp.sales_view3")
result1.show(5)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

In [25]:
spark.sql("SELECT count(Item_Type) from sales_view").show()

+----------------+
|count(Item_Type)|
+----------------+
|            8523|
+----------------+

                                                        withColumnname and replace column operations

In [26]:
df=spark.read.csv('Products.csv',header='True',inferSchema='True')
df.show(5)

+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
|Product ID|Product Name|       Category|Price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|  Supplier|Product Description|Manufacture Country|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
|       101|     Monitor|    Accessories| 1156|  482|   29|Brand C|    0.21|  NULL| 2020-07-20|                    2.0|      NULL|      Best in class|              India|
|       102|  Headphones|       Clothing|  289|  305|   45|Brand E|    0.06|   3.0| 2022-01-16|                    1.0|Supplier B|      Best in class|              China|
|       103|     Charger|Home Appliances| 4942|  197|  106|Brand E|    0.07|  NULL| 2024-11-11|                    2.0|Supplier C|        Top selling|              China|
|       104|      Laptop|       Clothing| 1359|  328|  259|Brand E|    0.13|  NULL| 2022-12-18|                   NULL|      NULL|   Affordable price|              India|
|       105|      Camera|    Electronics| 4382|  204|  166|Brand E|    0.34|  NULL| 2024-08-26|                    3.0|Supplier B|      Best in class|              China|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
only showing top 5 rows

To create a new column
we should use withcolumnname

In [27]:
df.withColumn("NewPrice",df['Price']*2).show(2)

+----------+------------+-----------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+--------+
|Product ID|Product Name|   Category|Price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|  Supplier|Product Description|Manufacture Country|NewPrice|
+----------+------------+-----------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+--------+
|       101|     Monitor|Accessories| 1156|  482|   29|Brand C|    0.21|  NULL| 2020-07-20|                    2.0|      NULL|      Best in class|              India|    2312|
|       102|  Headphones|   Clothing|  289|  305|   45|Brand E|    0.06|   3.0| 2022-01-16|                    1.0|Supplier B|      Best in class|              China|     578|
+----------+------------+-----------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+--------+
only showing top 2 rows

To replace the name of existing column

In [28]:
a=df.withColumnRenamed('Price','New_price')
a.show(2)

+----------+------------+-----------+---------+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
|Product ID|Product Name|   Category|New_price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|  Supplier|Product Description|Manufacture Country|
+----------+------------+-----------+---------+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
|       101|     Monitor|Accessories|     1156|  482|   29|Brand C|    0.21|  NULL| 2020-07-20|                    2.0|      NULL|      Best in class|              India|
|       102|  Headphones|   Clothing|      289|  305|   45|Brand E|    0.06|   3.0| 2022-01-16|                    1.0|Supplier B|      Best in class|              China|
+----------+------------+-----------+---------+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
only showing top 2 rows

Alias Transformation

In [29]:
df.select(df['Category'].alias('Cat')).show()

+---------------+
|            Cat|
+---------------+
|    Accessories|
|       Clothing|
|Home Appliances|
|       Clothing|
|    Electronics|
|       Clothing|
|    Accessories|
|    Electronics|
|Home Appliances|
|       Clothing|
|Home Appliances|
|       Clothing|
|      Furniture|
|    Electronics|
|      Furniture|
|Home Appliances|
|      Furniture|
|Home Appliances|
|Home Appliances|
|    Electronics|
+---------------+
only showing top 20 rows

OrderBy operation

In [30]:
df.orderBy('Category').show(5)  #ascending order

+----------+------------+-----------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
|Product ID|Product Name|   Category|Price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|  Supplier|Product Description|Manufacture Country|
+----------+------------+-----------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
|       123|  Headphones|Accessories| 1745|  340|   28|Brand D|    0.13|   2.0| 2021-03-12|                    5.0|Supplier C|               NULL|              India|
|       136|     Charger|Accessories| 1880|  200|  253|Brand B|    0.35|   5.0| 2022-03-28|                    1.0|      NULL|        Top selling|            Germany|
|       124|  Headphones|Accessories|  564|  478|   77|Brand D|    0.32|   3.0| 2023-04-03|                   NULL|Supplier B|               NULL|               NULL|
|       101|     Monitor|Accessories| 1156|  482|   29|Brand C|    0.21|  NULL| 2020-07-20|                    2.0|      NULL|      Best in class|              India|
|       127|       Phone|Accessories| 2909|  184|  296|Brand D|    0.07|   3.0| 2024-01-30|                   NULL|Supplier B|               NULL|              China|
+----------+------------+-----------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
only showing top 5 rows

In [31]:
df.orderBy(df['Category'].desc()).show(5) #Descending order

+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
|Product ID|Product Name|       Category|Price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|  Supplier|Product Description|Manufacture Country|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
|       103|     Charger|Home Appliances| 4942|  197|  106|Brand E|    0.07|  NULL| 2024-11-11|                    2.0|Supplier C|        Top selling|              China|
|       109|       Mouse|Home Appliances|  482|  400|   11|Brand D|    0.16|   5.0| 2024-08-23|                   NULL|      NULL|               NULL|               NULL|
|       111|    Keyboard|Home Appliances| 4350|  408|  241|Brand C|    0.24|   2.0| 2022-10-07|                    1.0|Supplier B|   Affordable price|              India|
|       116|  Smartwatch|Home Appliances| 2255|  337|   71|Brand C|    0.21|   5.0| 2022-02-25|                    5.0|      NULL|   Affordable price|               NULL|
|       118|       Mouse|Home Appliances| 2294|   14|  187|Brand D|    0.28|   4.0| 2021-07-05|                    2.0|Supplier A|   Affordable price|               NULL|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
only showing top 5 rows

In [32]:
df.select('Category').orderBy(df['Category'].desc()).show(5)

+---------------+
|       Category|
+---------------+
|Home Appliances|
|Home Appliances|
|Home Appliances|
|Home Appliances|
|Home Appliances|
+---------------+
only showing top 5 rows

To get Distinct Values

In [33]:
df.columns

['Product ID',
 'Product Name',
 'Category',
 'Price',
 'Stock',
 'Sales',
 'Brand',
 'Discount',
 'Rating',
 'Launch Date',
 'Warranty Period (Years)',
 'Supplier',
 'Product Description',
 'Manufacture Country']

To get distinct values

In [34]:
df.select('Category').distinct().show(5)

+---------------+
|       Category|
+---------------+
|    Electronics|
|       Clothing|
|Home Appliances|
|    Accessories|
|      Furniture|
+---------------+

isNull() Function

In [35]:
df.filter(df['Supplier'].isNull()).show(5)

+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+--------+-------------------+-------------------+
|Product ID|Product Name|       Category|Price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|Supplier|Product Description|Manufacture Country|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+--------+-------------------+-------------------+
|       101|     Monitor|    Accessories| 1156|  482|   29|Brand C|    0.21|  NULL| 2020-07-20|                    2.0|    NULL|      Best in class|              India|
|       104|      Laptop|       Clothing| 1359|  328|  259|Brand E|    0.13|  NULL| 2022-12-18|                   NULL|    NULL|   Affordable price|              India|
|       109|       Mouse|Home Appliances|  482|  400|   11|Brand D|    0.16|   5.0| 2024-08-23|                   NULL|    NULL|               NULL|               NULL|
|       115|       Phone|      Furniture| 4875|  237|   21|Brand E|    0.09|   5.0| 2021-05-07|                    2.0|    NULL|   Affordable price|              China|
|       116|  Smartwatch|Home Appliances| 2255|  337|   71|Brand C|    0.21|   5.0| 2022-02-25|                    5.0|    NULL|   Affordable price|               NULL|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+--------+-------------------+-------------------+
only showing top 5 rows

isNotNull() Function

In [36]:
df.filter(df['Warranty Period (Years)'].isNotNull()).show(5)

+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+
|Product ID|Product Name|       Category|Price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|  Supplier| Product Description|Manufacture Country|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+
|       101|     Monitor|    Accessories| 1156|  482|   29|Brand C|    0.21|  NULL| 2020-07-20|                    2.0|      NULL|       Best in class|              India|
|       102|  Headphones|       Clothing|  289|  305|   45|Brand E|    0.06|   3.0| 2022-01-16|                    1.0|Supplier B|       Best in class|              China|
|       103|     Charger|Home Appliances| 4942|  197|  106|Brand E|    0.07|  NULL| 2024-11-11|                    2.0|Supplier C|         Top selling|              China|
|       105|      Camera|    Electronics| 4382|  204|  166|Brand E|    0.34|  NULL| 2024-08-26|                    3.0|Supplier B|       Best in class|              China|
|       107|     Charger|    Accessories|  963|  324|  118|Brand A|    0.16|   4.0| 2022-07-26|                    2.0|Supplier B|Good quality product|                USA|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+
only showing top 5 rows

.na.drop()

In [37]:
df.na.drop().show(4)

+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+
|Product ID|Product Name|       Category|Price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|  Supplier| Product Description|Manufacture Country|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+
|       102|  Headphones|       Clothing|  289|  305|   45|Brand E|    0.06|   3.0| 2022-01-16|                    1.0|Supplier B|       Best in class|              China|
|       107|     Charger|    Accessories|  963|  324|  118|Brand A|    0.16|   4.0| 2022-07-26|                    2.0|Supplier B|Good quality product|                USA|
|       110|     Charger|       Clothing| 2344|  292|  254|Brand B|    0.12|   5.0| 2023-03-10|                    5.0|Supplier B|Good quality product|                USA|
|       111|    Keyboard|Home Appliances| 4350|  408|  241|Brand C|    0.24|   2.0| 2022-10-07|                    1.0|Supplier B|    Affordable price|              India|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+
only showing top 4 rows

.na.fill()

In [38]:
df.na.fill({"Warranty Period (Years)":10}).show(5)

+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
|Product ID|Product Name|       Category|Price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|  Supplier|Product Description|Manufacture Country|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
|       101|     Monitor|    Accessories| 1156|  482|   29|Brand C|    0.21|  NULL| 2020-07-20|                    2.0|      NULL|      Best in class|              India|
|       102|  Headphones|       Clothing|  289|  305|   45|Brand E|    0.06|   3.0| 2022-01-16|                    1.0|Supplier B|      Best in class|              China|
|       103|     Charger|Home Appliances| 4942|  197|  106|Brand E|    0.07|  NULL| 2024-11-11|                    2.0|Supplier C|        Top selling|              China|
|       104|      Laptop|       Clothing| 1359|  328|  259|Brand E|    0.13|  NULL| 2022-12-18|                   10.0|      NULL|   Affordable price|              India|
|       105|      Camera|    Electronics| 4382|  204|  166|Brand E|    0.34|  NULL| 2024-08-26|                    3.0|Supplier B|      Best in class|              China|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
only showing top 5 rows

In [39]:
df.show(5)

+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
|Product ID|Product Name|       Category|Price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|  Supplier|Product Description|Manufacture Country|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
|       101|     Monitor|    Accessories| 1156|  482|   29|Brand C|    0.21|  NULL| 2020-07-20|                    2.0|      NULL|      Best in class|              India|
|       102|  Headphones|       Clothing|  289|  305|   45|Brand E|    0.06|   3.0| 2022-01-16|                    1.0|Supplier B|      Best in class|              China|
|       103|     Charger|Home Appliances| 4942|  197|  106|Brand E|    0.07|  NULL| 2024-11-11|                    2.0|Supplier C|        Top selling|              China|
|       104|      Laptop|       Clothing| 1359|  328|  259|Brand E|    0.13|  NULL| 2022-12-18|                   NULL|      NULL|   Affordable price|              India|
|       105|      Camera|    Electronics| 4382|  204|  166|Brand E|    0.34|  NULL| 2024-08-26|                    3.0|Supplier B|      Best in class|              China|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+-------------------+-------------------+
only showing top 5 rows

                                                        Agg Functions

In [40]:
import pyspark.sql.functions  as F

In [41]:
df.columns

['Product ID',
 'Product Name',
 'Category',
 'Price',
 'Stock',
 'Sales',
 'Brand',
 'Discount',
 'Rating',
 'Launch Date',
 'Warranty Period (Years)',
 'Supplier',
 'Product Description',
 'Manufacture Country']

In [42]:
gdf=df.groupBy('Product Name').agg(F.min('Price').alias('Minimum Price'))
gdf.show()

+------------+-------------+
|Product Name|Minimum Price|
+------------+-------------+
|       Phone|          142|
|  Smartwatch|          116|
|      Laptop|          212|
|     Charger|          461|
|       Mouse|          101|
|      Camera|          249|
|      Tablet|          290|
|    Keyboard|          134|
|     Monitor|          272|
|  Headphones|          169|
+------------+-------------+

In [43]:
gdf=df.groupBy('Product Name').agg(F.max('Price').alias('Maximum Price'))
gdf.show()

+------------+-------------+
|Product Name|Maximum Price|
+------------+-------------+
|       Phone|         4875|
|  Smartwatch|         4964|
|      Laptop|         4588|
|     Charger|         4981|
|       Mouse|         4795|
|      Camera|         4989|
|      Tablet|         4911|
|    Keyboard|         4833|
|     Monitor|         4999|
|  Headphones|         4616|
+------------+-------------+

In [44]:
gdf=df.groupBy('Product Name').agg(F.avg('Price').alias('Average Price'))
gdf.show()

+------------+------------------+
|Product Name|     Average Price|
+------------+------------------+
|       Phone| 2571.871794871795|
|  Smartwatch|2446.4210526315787|
|      Laptop| 2187.054054054054|
|     Charger| 2930.108695652174|
|       Mouse|2477.5208333333335|
|      Camera| 2809.323529411765|
|      Tablet|        2784.15625|
|    Keyboard|2898.4347826086955|
|     Monitor|2609.4651162790697|
|  Headphones|2020.3513513513512|
+------------+------------------+

In [45]:
gdf=df.groupBy('Product Name').agg(F.count('Sales').alias('Total Products'))
gdf.show()

+------------+--------------+
|Product Name|Total Products|
+------------+--------------+
|       Phone|            39|
|  Smartwatch|            38|
|      Laptop|            37|
|     Charger|            46|
|       Mouse|            48|
|      Camera|            34|
|      Tablet|            32|
|    Keyboard|            46|
|     Monitor|            43|
|  Headphones|            37|
+------------+--------------+

In [46]:
gdf=df.groupBy('Product Name').agg(F.sum('Price').alias('Total Price'))
gdf.show()

+------------+-----------+
|Product Name|Total Price|
+------------+-----------+
|       Phone|     100303|
|  Smartwatch|      92964|
|      Laptop|      80921|
|     Charger|     134785|
|       Mouse|     118921|
|      Camera|      95517|
|      Tablet|      89093|
|    Keyboard|     133328|
|     Monitor|     112207|
|  Headphones|      74753|
+------------+-----------+

In [47]:
df.printSchema()

root
 |-- Product ID: integer (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Stock: integer (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- Brand: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Rating: double (nullable = true)
 |-- Launch Date: date (nullable = true)
 |-- Warranty Period (Years): double (nullable = true)
 |-- Supplier: string (nullable = true)
 |-- Product Description: string (nullable = true)
 |-- Manufacture Country: string (nullable = true)

In [48]:
a=df.select(df['Price'].cast('string').alias("String value"))
a.show()#To covert the price column from integer to string

+------------+
|String value|
+------------+
|        1156|
|         289|
|        4942|
|        1359|
|        4382|
|        3038|
|         963|
|        4092|
|         482|
|        2344|
|        4350|
|        3847|
|        3100|
|        1207|
|        4875|
|        2255|
|        4065|
|        2294|
|        2731|
|        1502|
+------------+
only showing top 20 rows

In [49]:
a.printSchema()

root
 |-- String value: string (nullable = true)

In [50]:
df.select('Price').describe().show()

+-------+------------------+
|summary|             Price|
+-------+------------------+
|  count|               400|
|   mean|           2581.98|
| stddev|1446.6005556195514|
|    min|               101|
|    max|              4999|
+-------+------------------+

In [51]:
df.tail(1) #to display last row

[Row(Product ID=500, Product Name='Monitor', Category='Electronics', Price=3403, Stock=255, Sales=97, Brand='Brand B', Discount=0.18, Rating=3.0, Launch Date=datetime.date(2021, 1, 13), Warranty Period (Years)=1.0, Supplier='Supplier B', Product Description='Top selling', Manufacture Country='Germany')]

In [52]:
df.agg(F.countDistinct('Product Name')).show() #to count the total number of distinct values

+----------------------------+
|count(DISTINCT Product Name)|
+----------------------------+
|                          10|
+----------------------------+

In [53]:
df.select('Product Name').distinct().count() #same with different approach

10

In [54]:
df.select(F.length('Category')).show() #it calculates length of each word in column Category

+----------------+
|length(Category)|
+----------------+
|              11|
|               8|
|              15|
|               8|
|              11|
|               8|
|              11|
|              11|
|              15|
|               8|
|              15|
|               8|
|               9|
|              11|
|               9|
|              15|
|               9|
|              15|
|              15|
|              11|
+----------------+
only showing top 20 rows

In [55]:
df=df.withColumn("lengthofcat",F.length('Category'))

In [56]:
df.show()

+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+-----------+
|Product ID|Product Name|       Category|Price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|  Supplier| Product Description|Manufacture Country|lengthofcat|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+-----------+
|       101|     Monitor|    Accessories| 1156|  482|   29|Brand C|    0.21|  NULL| 2020-07-20|                    2.0|      NULL|       Best in class|              India|         11|
|       102|  Headphones|       Clothing|  289|  305|   45|Brand E|    0.06|   3.0| 2022-01-16|                    1.0|Supplier B|       Best in class|              China|          8|
|       103|     Charger|Home Appliances| 4942|  197|  106|Brand E|    0.07|  NULL| 2024-11-11|                    2.0|Supplier C|         Top selling|              China|         15|
|       104|      Laptop|       Clothing| 1359|  328|  259|Brand E|    0.13|  NULL| 2022-12-18|                   NULL|      NULL|    Affordable price|              India|          8|
|       105|      Camera|    Electronics| 4382|  204|  166|Brand E|    0.34|  NULL| 2024-08-26|                    3.0|Supplier B|       Best in class|              China|         11|
|       106|      Laptop|       Clothing| 3038|  182|  213|Brand B|    0.13|  NULL| 2020-04-22|                   NULL|Supplier A|         Top selling|            Germany|          8|
|       107|     Charger|    Accessories|  963|  324|  118|Brand A|    0.16|   4.0| 2022-07-26|                    2.0|Supplier B|Good quality product|                USA|         11|
|       108|     Charger|    Electronics| 4092|  388|  119|Brand A|    0.05|  NULL| 2021-12-30|                    2.0|Supplier C|                NULL|              China|         11|
|       109|       Mouse|Home Appliances|  482|  400|   11|Brand D|    0.16|   5.0| 2024-08-23|                   NULL|      NULL|                NULL|               NULL|         15|
|       110|     Charger|       Clothing| 2344|  292|  254|Brand B|    0.12|   5.0| 2023-03-10|                    5.0|Supplier B|Good quality product|                USA|          8|
|       111|    Keyboard|Home Appliances| 4350|  408|  241|Brand C|    0.24|   2.0| 2022-10-07|                    1.0|Supplier B|    Affordable price|              India|         15|
|       112|  Smartwatch|       Clothing| 3847|  484|   45|Brand D|    0.19|   2.0| 2023-03-07|                    5.0|Supplier B|       Best in class|            Germany|          8|
|       113|    Keyboard|      Furniture| 3100|  190|  144|Brand C|    0.13|   3.0| 2021-02-21|                   NULL|Supplier B|       Best in class|                USA|          9|
|       114|      Camera|    Electronics| 1207|  385|   28|Brand D|    0.08|   3.0| 2021-10-05|                    2.0|Supplier C|Good quality product|                USA|         11|
|       115|       Phone|      Furniture| 4875|  237|   21|Brand E|    0.09|   5.0| 2021-05-07|                    2.0|      NULL|    Affordable price|              China|          9|
|       116|  Smartwatch|Home Appliances| 2255|  337|   71|Brand C|    0.21|   5.0| 2022-02-25|                    5.0|      NULL|    Affordable price|               NULL|         15|
|       117|     Charger|      Furniture| 4065|  448|   61|Brand E|    0.24|   2.0| 2023-12-15|                    3.0|Supplier A|         Top selling|              India|          9|
|       118|       Mouse|Home Appliances| 2294|   14|  187|Brand D|    0.28|   4.0| 2021-07-05|                    2.0|Supplier A|    Affordable price|               NULL|         15|
|       119|       Phone|Home Appliances| 2731|  162|  256|Brand A|    0.14|   3.0| 2022-04-20|                   NULL|Supplier C|    Affordable price|               NULL|         15|
|       120|       Mouse|    Electronics| 1502|  371|  232|Brand E|    0.09|   3.0| 2023-02-27|                    2.0|      NULL|    Affordable price|               NULL|         11|
+----------+------------+---------------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+-----------+
only showing top 20 rows

In [57]:
df.select(F.concat('Product Name','Category')).show() #to concat two columns

+------------------------------+
|concat(Product Name, Category)|
+------------------------------+
|            MonitorAccessories|
|            HeadphonesClothing|
|          ChargerHome Appli...|
|                LaptopClothing|
|             CameraElectronics|
|                LaptopClothing|
|            ChargerAccessories|
|            ChargerElectronics|
|          MouseHome Appliances|
|               ChargerClothing|
|          KeyboardHome Appl...|
|            SmartwatchClothing|
|             KeyboardFurniture|
|             CameraElectronics|
|                PhoneFurniture|
|          SmartwatchHome Ap...|
|              ChargerFurniture|
|          MouseHome Appliances|
|          PhoneHome Appliances|
|              MouseElectronics|
+------------------------------+
only showing top 20 rows

In [58]:
df.filter(df['Category'].isin('Clothing')).show()

+----------+------------+--------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+-----------+
|Product ID|Product Name|Category|Price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|  Supplier| Product Description|Manufacture Country|lengthofcat|
+----------+------------+--------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+-----------+
|       102|  Headphones|Clothing|  289|  305|   45|Brand E|    0.06|   3.0| 2022-01-16|                    1.0|Supplier B|       Best in class|              China|          8|
|       104|      Laptop|Clothing| 1359|  328|  259|Brand E|    0.13|  NULL| 2022-12-18|                   NULL|      NULL|    Affordable price|              India|          8|
|       106|      Laptop|Clothing| 3038|  182|  213|Brand B|    0.13|  NULL| 2020-04-22|                   NULL|Supplier A|         Top selling|            Germany|          8|
|       110|     Charger|Clothing| 2344|  292|  254|Brand B|    0.12|   5.0| 2023-03-10|                    5.0|Supplier B|Good quality product|                USA|          8|
|       112|  Smartwatch|Clothing| 3847|  484|   45|Brand D|    0.19|   2.0| 2023-03-07|                    5.0|Supplier B|       Best in class|            Germany|          8|
|       121|    Keyboard|Clothing|  134|  499|  236|Brand C|    0.18|   1.0| 2024-09-28|                    3.0|Supplier C|         Top selling|              China|          8|
|       128|       Mouse|Clothing| 3041|  193|  270|Brand C|    0.13|  NULL| 2021-10-31|                    3.0|Supplier A|    Affordable price|              China|          8|
|       138|      Laptop|Clothing| 2924|  329|   72|Brand E|    0.12|   2.0| 2022-04-18|                    3.0|Supplier C|       Best in class|                USA|          8|
|       148|    Keyboard|Clothing| 2709|   25|  113|Brand B|    0.17|   3.0| 2024-05-25|                    1.0|Supplier B|       Best in class|               NULL|          8|
|       153|      Camera|Clothing| 4959|  147|  104|Brand B|    0.13|   3.0| 2021-04-03|                   NULL|      NULL|         Top selling|                USA|          8|
|       154|      Laptop|Clothing| 4281|  417|  199|Brand B|    0.25|   5.0| 2021-11-30|                    1.0|Supplier B|       Best in class|            Germany|          8|
|       157|  Smartwatch|Clothing|  915|   36|   68|Brand B|    0.13|   3.0| 2020-07-30|                    1.0|      NULL|       Best in class|                USA|          8|
|       159|      Laptop|Clothing| 3186|  133|  141|Brand D|     0.2|   1.0| 2022-01-29|                    2.0|      NULL|    Affordable price|            Germany|          8|
|       163|      Camera|Clothing| 4499|  176|  176|Brand E|    0.27|   3.0| 2021-03-28|                    3.0|Supplier C|                NULL|                USA|          8|
|       164|      Tablet|Clothing| 3491|  475|  203|Brand B|    0.09|  NULL| 2021-04-27|                    5.0|Supplier B|                NULL|               NULL|          8|
|       166|      Camera|Clothing| 1786|  449|  280|Brand C|    0.31|   2.0| 2022-04-22|                    1.0|      NULL|Good quality product|               NULL|          8|
|       167|  Headphones|Clothing| 1526|  338|  122|Brand E|    0.23|   4.0| 2022-10-12|                    2.0|      NULL|    Affordable price|              China|          8|
|       176|     Charger|Clothing| 1201|  434|  287|Brand D|    0.23|   2.0| 2021-10-08|                    3.0|      NULL|         Top selling|            Germany|          8|
|       178|     Monitor|Clothing|  477|  154|   86|Brand E|    0.09|   1.0| 2023-04-05|                    3.0|Supplier A|       Best in class|               NULL|          8|
|       183|       Mouse|Clothing|  751|  479|   45|Brand B|     0.2|   4.0| 2021-09-25|                    3.0|Supplier B|                NULL|              India|          8|
+----------+------------+--------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+-----------+
only showing top 20 rows

                                        Window Functions

In [59]:
from pyspark.sql import Window

In [60]:
windowSpec=Window.partitionBy('Category')

In [63]:
data=df.withColumn('Average Price',F.avg('Price').over(windowSpec))\
       .withColumn('Total Salary',F.sum('Price').over(windowSpec))
data.show(3)

+----------+------------+-----------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+-----------+------------------+------------+
|Product ID|Product Name|   Category|Price|Stock|Sales|  Brand|Discount|Rating|Launch Date|Warranty Period (Years)|  Supplier| Product Description|Manufacture Country|lengthofcat|     Average Price|Total Salary|
+----------+------------+-----------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+-----------+------------------+------------+
|       101|     Monitor|Accessories| 1156|  482|   29|Brand C|    0.21|  NULL| 2020-07-20|                    2.0|      NULL|       Best in class|              India|         11|2438.5128205128203|      190204|
|       107|     Charger|Accessories|  963|  324|  118|Brand A|    0.16|   4.0| 2022-07-26|                    2.0|Supplier B|Good quality product|                USA|         11|2438.5128205128203|      190204|
|       123|  Headphones|Accessories| 1745|  340|   28|Brand D|    0.13|   2.0| 2021-03-12|                    5.0|Supplier C|                NULL|              India|         11|2438.5128205128203|      190204|
+----------+------------+-----------+-----+-----+-----+-------+--------+------+-----------+-----------------------+----------+--------------------+-------------------+-----------+------------------+------------+
only showing top 3 rows