Load WalmartStock Csv File

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark=SparkSession.builder.appName("Walmart Exercise").getOrCreate()

In [3]:
df=spark.read.csv("walmart_stock.csv",inferSchema='True',header='True')
df.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

Show all the column names in the DataFrame.

In [4]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

df.printSchema()

In [5]:
df.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

Total number of missing values

In [6]:
missing=df.select([F.count(F.when(df[i].isNull(),1)).alias(i) for i in df.columns])
missing.show()

+----+----+----+---+-----+------+---------+
|Date|Open|High|Low|Close|Volume|Adj Close|
+----+----+----+---+-----+------+---------+
|   0|   0|   0|  0|    0|     0|        0|
+----+----+----+---+-----+------+---------+

Find the number of rows and columns in the DataFrame.

In [7]:
len(df.columns)

7

In [8]:
df.count()

1258

Filter the rows where the stock's "High" price is greater than 90 and display the result

In [9]:
df.filter(df['High']>90).show()

+----------+---------+-----------------+---------+---------+--------+-----------------+
|      Date|     Open|             High|      Low|    Close|  Volume|        Adj Close|
+----------+---------+-----------------+---------+---------+--------+-----------------+
|2015-01-08|89.209999|90.66999799999999|    89.07|90.470001|12713600|84.91421600000001|
|2015-01-09|    90.32|        90.389999|    89.25|89.349998| 8522500|        83.862993|
|2015-01-12|89.360001|        90.309998|89.220001|90.019997| 7372500|        84.491846|
|2015-01-13|90.800003|        90.970001|    88.93|89.309998| 8215400|        83.825448|
+----------+---------+-----------------+---------+---------+--------+-----------------+

Filter the data for the date range from '2012-01-10' to '2012-01-20

In [10]:
df.filter((df['Date']>= '2012-01-10') & (df['Date']<='2012-01-20')).show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
+----------+------------------+------------------+------------------+------------------+--------+------------------+

Calculate the Average Closing Price

In [11]:
df.agg(F.avg('Close').alias("Average")).show()

+-----------------+
|          Average|
+-----------------+
|72.38844998012726|
+-----------------+

Find the average closing price (Close) for each year based on year not date

In [12]:
df_year=df.withColumn("Year", F.year("Date"))
df_year.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+----+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|Year|
+----------+------------------+------------------+------------------+------------------+--------+------------------+----+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|2012|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|2012|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|2012|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|2012|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|2012|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|2012|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|2012|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|2012|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|2012|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|2012|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|2012|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|2012|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|2012|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|2012|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|2012|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|2012|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|2012|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|2012|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|2012|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|2012|
+----------+------------------+------------------+------------------+------------------+--------+------------------+----+
only showing top 20 rows

In [13]:
df_year.groupBy('Year').agg(F.avg('Close').alias('Average Close Price')).show()

+----+-------------------+
|Year|Average Close Price|
+----+-------------------+
|2015|  72.49111121825403|
|2013|  75.32051611904767|
|2014|  77.32738088888888|
|2012|  67.21512003200003|
|2016|  69.54706346825398|
+----+-------------------+

Filter the dataset to get all the rows where the Close price is greater than 60, and then sort the filtered rows by the Date column in descending order

In [14]:
df_filter=df.filter(df['Close']>60)
df_filter.show(2)
df_filter.sort('Date',ascending=False).show()

+----------+------------------+---------+---------+------------------+--------+------------------+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+----------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-18|59.790001000000004|60.029999|59.650002|60.009997999999996| 5911400|         52.340131|
+----------+------------------+---------+---------+------------------+--------+------------------+
only showing top 2 rows

+----------+-----------------+---------+-----------------+-----------------+--------+-----------------+
|      Date|             Open|     High|              Low|            Close|  Volume|        Adj Close|
+----------+-----------------+---------+-----------------+-----------------+--------+-----------------+
|2016-12-30|        69.120003|    69.43|68.83000200000001|        69.120003| 6889500|68.61547900000001|
|2016-12-29|        69.209999|69.519997|        69.120003|        69.260002| 4298400|        68.754456|
|2016-12-28|        69.940002|     70.0|        69.260002|        69.309998| 4875700|        68.804087|
|2016-12-27|        69.300003|    69.82|            69.25|        69.699997| 4435700|69.19124000000001|
|2016-12-23|            69.43|    69.75|        69.360001|        69.540001| 4803900|        69.032411|
|2016-12-22|        71.239998|71.239998|        69.209999|        69.589996|12106800|        69.082042|
|2016-12-21|        71.660004|     72.0|        71.239998|        71.239998| 5101000|            70.72|
|2016-12-20|        71.730003|    71.93|        71.510002|            71.82| 6108100|71.29576800000001|
|2016-12-19|        70.839996|    71.75|        70.839996|71.58000200000001| 5889300|71.05752199999999|
|2016-12-16|            71.07|71.639999|        70.599998|        70.980003|17844800|        70.461903|
|2016-12-15|        71.220001|71.800003|        71.029999|71.08000200000001| 7136300|        70.561172|
|2016-12-14|        71.900002|72.480003|            71.18|        71.339996| 8669400|70.81926800000001|
|2016-12-13|71.66999799999999|72.230003|        71.610001|        71.800003| 8887500|        71.275917|
|2016-12-12|            70.07|71.779999|        70.019997|71.66999799999999| 9084100|        71.146861|
|2016-12-09|        70.269997|    70.43|        69.739998|70.08000200000001|10756700|        69.568471|
|2016-12-08|        70.480003|70.900002|            70.32|        70.339996| 6844200|69.82656800000001|
|2016-12-07|            69.93|70.650002|        69.900002|        70.599998| 6966200|        70.084672|
|2016-12-06|        70.010002|70.389999|             69.5|        70.360001| 7778000|        69.350075|
|2016-12-05|        70.900002|70.989998|        69.809998|        69.940002|10527900|        68.936105|
|2016-12-02|70.58000200000001|70.949997|        70.449997|        70.879997| 6674200|        69.862608|
+----------+-----------------+---------+-----------------+-----------------+--------+-----------------+
only showing top 20 rows

Find the Maximum and Minimum Close Prices

In [15]:
maxi=df.agg(F.max('Close').alias("Maximum Close Price"))
maxi.show()
mini=df.agg(F.min('Close').alias("Minimum Close Price"))
mini.show()

+-------------------+
|Maximum Close Price|
+-------------------+
|          90.470001|
+-------------------+

+-------------------+
|Minimum Close Price|
+-------------------+
|          56.419998|
+-------------------+

Find the Difference Between the High and Low Prices

In [16]:
df=df.withColumn("Price Difference", df['High']-df['Low']).show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+-------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|   Price Difference|
+----------+------------------+------------------+------------------+------------------+--------+------------------+-------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996| 1.1900019999999998|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475| 0.8799969999999959|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|               1.25|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922| 0.5800020000000004|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|           0.630001|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109| 0.7299989999999994|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|0.48999799999999283|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994| 0.5999979999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996| 0.6000030000000081|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581| 0.5900010000000009|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131| 0.3799969999999959|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447| 0.9799999999999969|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996| 0.5800020000000004|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104| 0.4700020000000009|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|               1.25|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001| 0.5700000000000003|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436| 1.0700000000000003|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665| 0.5799979999999962|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994| 0.9700020000000009|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006| 0.9899979999999999|
+----------+------------------+------------------+------------------+------------------+--------+------------------+-------------------+
only showing top 20 rows

Count the Number of Rows for Each Year

In [17]:

df_year.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+----+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|Year|
+----------+------------------+------------------+------------------+------------------+--------+------------------+----+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|2012|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|2012|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|2012|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|2012|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|2012|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|2012|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|2012|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|2012|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|2012|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|2012|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|2012|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|2012|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|2012|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|2012|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|2012|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|2012|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|2012|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|2012|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|2012|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|2012|
+----------+------------------+------------------+------------------+------------------+--------+------------------+----+
only showing top 20 rows

In [18]:
count=df_year.groupBy('Year').agg(F.count('Open').alias('Number of Records'))
count.show()

+----+-----------------+
|Year|Number of Records|
+----+-----------------+
|2015|              252|
|2013|              252|
|2014|              252|
|2012|              250|
|2016|              252|
+----+-----------------+

Calculate the Average Volume for Each Month

In [19]:
df_month=df_year.withColumn("Month",F.month('Date'))
df_month.show(2)

+----------+------------------+---------+---------+------------------+--------+------------------+----+-----+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|Year|Month|
+----------+------------------+---------+---------+------------------+--------+------------------+----+-----+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|2012|    1|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|2012|    1|
+----------+------------------+---------+---------+------------------+--------+------------------+----+-----+
only showing top 2 rows

In [20]:
df_month.groupBy('Month').agg(F.avg('Volume').alias('Average Volume')).show()

+-----+-----------------+
|Month|   Average Volume|
+-----+-----------------+
|   12|7967959.433962264|
|    1|8761851.485148516|
|    6|8303756.603773585|
|    3|7721836.448598131|
|    5|8632350.943396226|
|    9|7194450.980392157|
|    4|7956230.476190476|
|    8|7745198.181818182|
|    7|6841084.112149533|
|   10|9008785.454545455|
|   11|8921626.732673267|
|    2|9764147.422680411|
+-----+-----------------+

Filter the dataset to get all rows where the Close price is greater than 60. After filtering, you need to count how many rows meet this condition.

In [21]:
rows=df_month.filter(df_month['Close']>60).count()
rows

1177

 Find the Maximum and Minimum Close Price for Each Year

In [22]:
df_year.groupBy('Year').agg(F.max('Close').alias('Maximum')).show()

+----+---------+
|Year|  Maximum|
+----+---------+
|2015|90.470001|
|2013|81.209999|
|2014|87.540001|
|2012|77.150002|
|2016|74.300003|
+----+---------+

In [23]:
df_year.groupBy('Year').agg(F.min('Close').alias('Minimum')).show()

+----+------------------+
|Year|           Minimum|
+----+------------------+
|2015|         56.419998|
|2013|         68.300003|
|2014|         72.660004|
|2012|57.360001000000004|
|2016|             60.84|
+----+------------------+

Find the Top 5 Rows with the Highest 'Volume'

In [24]:
df_month.orderBy(df_month['Volume'].desc()).show(5)

+----------+------------------+------------------+------------------+------------------+--------+---------+----+-----+
|      Date|              Open|              High|               Low|             Close|  Volume|Adj Close|Year|Month|
+----------+------------------+------------------+------------------+------------------+--------+---------+----+-----+
|2015-10-14|         66.610001|         67.949997|             60.02|         60.029999|80898100|57.429177|2015|   10|
|2015-10-15|         59.700001|         60.470001|58.610001000000004|         59.330002|46253500|56.759508|2015|   10|
|2012-04-23|         59.150002|60.240002000000004|         59.130001|59.540001000000004|38007300| 52.27779|2012|    4|
|2016-05-19|         68.099998| 69.33000200000001|              67.5|         69.199997|35076700| 67.74298|2016|    5|
|2012-04-24|59.259997999999996|         59.349998|         57.650002|             57.77|30090600| 50.72368|2012|    4|
+----------+------------------+------------------+------------------+------------------+--------+---------+----+-----+
only showing top 5 rows